<html>

<head>
    <title>Express</title>
    <link rel="stylesheet" href="stylesheets/public.css"/>
    <link rel="stylesheet" href="stylesheets/singer.css"/>
    <link rel="stylesheet" href="stylesheets/swiper.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <script src="javascripts/jquery-3.3.1.js"></script>
    <script src="javascripts/vue.js"></script>
    <script src="javascripts/swiper.min.js"></script>
    <script src="javascripts/com_header.js"></script>

</head>

<body>
<div class="lod" >
    <img style="" src="/images/lod.gif" alt=""/>
</div>
<header id="app">
    <v-header></v-header>
    <v-nav></v-nav>
</header>

<main>
    <div id="singer_list">
        <ul  class="singer_list" v-for="li in dataList">
            <li v-for="lis in li">
                <!--<a :href="'/ranking_info.html?rankid='+lis.rankid">-->
                <a :href="'/singer_info.html?classid='+lis.classid">
                    <span v-text="lis.classname"></span>
                    <i class="icon"></i>
                </a>
            </li>
        </ul>
    </div>
</main>
<script>
    $.ajax({
        url:"/ma",
        data:{urls:"http://m.kugou.com/singer/class?json=true"},
        success:function(da){
            $(".lod").hide();
            $("#singer_list").show();
            console.log(da.list);
            var arr=[];
            function abc(data,txt){
                var arr2=[];
                var n;
                for(var i=0;i<data.length;i++){
                    if(data[i].classname.slice(0,2)==txt){
                        n=i;
                        arr2.push(data[i]);
                    }
                }
                arr.push(arr2);
                n++;
                if(data[n]){
                    abc(da.list,da.list[n].classname.slice(0,2));
                }

            }
            abc(da.list,da.list[0].classname.slice(0,2));

            new Vue({
                el:"#singer_list",
                data:{dataList:arr},
            })
        },
    })
</script>
</body>
</html>